

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    background-color: rgb(241, 100, 6);
    color: white;
    text-align: center;
}
img {
    align-items: center;
    border-radius: 20%;
    image-orientation: center;
}
input{
    border-radius: 30%;
    height: 100px;
    width: 200px;
    align-items: center;
}